{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/no-cycle": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": "off",
    "no-plusplus": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "ignorePatterns": ["dist/*"],
  "env": {
    "browser": true,
    "es6": true
  }
}
